:root {
    --cream: #f8eedf;
    --wheat: #f5deb3;
    --border-gray: #3b2f2f;
    --light-orange: #e7a86a;
    --dark-orange: #e29a5c;
    --darker-orange: #db8d4f;
    --darkest-orange: #cf7f45;

    --accent-orange: #e09759;
}

/* Linear gradient that goes from light to dark orange from the top left to bottom right */
body {
    background: linear-gradient(to bottom right,
            var(--light-orange) 0%,
            var(--dark-orange) 20%,
            var(--darker-orange) 80%,
            var(--darkest-orange) 90%);

}

a {
    text-decoration: none;
}

/* Font for all elements on the webpage */
* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

/* All panel titles must be center aligned */
h3 {
    text-align: center;
}

li {
    padding-top: 2%;
    padding-bottom: 10%;
}

hr {
    border: none;
    height: 3px;
    background-color: var(--accent-orange);
}

/* psudo buttons in the navbar */
.navbutton,
.internal-buttons {
    /* border: 1px solid var(--border-gray); */
    border-radius: 10px;
    border: 2px solid var(--accent-orange);
    padding: 5px;
    color: black;
    background-color: var(--wheat);
}

.navbutton {
    width: 10%;
    text-align: center;
}

.spaced-out-container * {
    padding-top: 10px;
}

/* change colors when hovering to give the appearence of a button */
.navbutton:hover,
.internal-buttons:hover {
    background-color: var(--cream);
}

/* Make the internal buttons have a longer width and display inline-block so they actually hold that width */
.internal-buttons {
    display: inline-block;
    width: 75%;
    margin-bottom: 10px;
}

/* For fonts in the education/experience section */
.smaller-text {
    font-size: 16px;
}

/* Containers for the top and bottom navbar; space them evenly using flex */
.top-navbar,
.bottom-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;

}

/* Flex containers for about me and skills sections */
.about-me-and-skills-flex-container,
.education-and-experience-flex-container {
    display: flex;
    flex-direction: row;
}

/* About me, skills, education and experience containers; sets width to 50% to make a two pane grid panel */
.about-me-container,
.skills-container,
.education-container,
.experience-container {
    width: 50%;
    text-align: center;
}

/* makes sure the content in both containers align */
.education-container,
.experience-container {
    align-items: center;
}

/* For the icons and text in the education/experience section */
.stacked-education-container {
    padding-top: 10px;
}

/* Makes the hr lines show up by splitting them and the titles into a seperate div */
.education-title-container,
.experience-title-container {
    width: 100%;
}

/* Main flex container for putting the projects in a row */
.projects-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

/* Container for each individual project in the projects section; make the direction cloumn  */
.individual-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 45%;
    border-radius: 5px;
    /* Border radius for the individual projects */
    border: 2px solid var(--accent-orange);
    padding: 10px;
}

/* Makes the individual projects child elements align evenly */
.individual-projects-container>div {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

/* makes p occupy the same height in both containers to make content align evenly */
.individual-projects-container p {
    flex-grow: 1;
}

/* Flex container that contains the row of blogs */
.blogs-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Container for each individual blog post, using column flex to distribute items vertically */
.individual-blogs-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    padding: 10px;
    justify-content: space-between;
    border: 2px solid var(--accent-orange);
}

/* All children of blogs-flex-containers that are divs will display columns*/
.individual-blogs-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* Evenly vertically space out the paragraph items in the div so the buttons all appear at the same height */
.individual-blogs-container p {
    flex-grow: 1;
}

/* Places images side by side with text using flex */
.side-by-side-image-with-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.spaced-icon-container,
.side-by-side-image-with-text {
    margin-top: 0.75vh;
}

/* Everything that needs a border */
.blogs-container,
.projects-container,
.education-container,
.about-me-container,
.skills-container,
.experience-container,
.top-navbar,
.bottom-navbar {
    border: 2px solid var(--light-orange);
    padding: 1vw;
    /* Spacing from the left/right of the window to the left/right border of each panel */
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    background-color: var(--light-orange);
}

/* Controls the color of the logos in the footer */
.logo {
    color: black;
    padding: 10px;
}

/* Vertical spacing between each panel */
#spacer{
    height: 20px;
}

#svsu-icon,
#temp-email-icon,
#java-icon,
#python-icon,
#other-school-icon {
    margin-right: 3vw;
    /* spacing between the logo and text in education/experience */
    width: 150px;
    /* Using a percentage causes this whole website to explode */
    margin-bottom: 15px;
}

/* Override above settings because the image is still too large */
#java-icon,
#python-icon {
    margin-top: 1.5vh;
    width: 125px;
}

#drumonitor-icon,
#arch-druids-domain-icon {
    width: 250px;
}

#my-picture {
    width: 400px;
    border: 2px solid var(--dark-orange);
    margin-bottom: 10px;
}

#phone-icon,
#gitlab-icon,
#github-icon,
#linked-in-icon,
#email-icon {
    font-size: 64px;
}

#skills {
    text-align: left;
}

#coming-soon-image {
    width: 200px;
    border: 2px solid var(--accent-orange);
}

@media (max-width: 800px) {

    header {
        display: none;
    }

    /* Turn all flex container that use flex-direction: row to column to account for mobile users */
    .about-me-and-skills-flex-container,
    .projects-flex-container,
    .side-by-side-image-with-text,
    .blogs-flex-container {
        flex-direction: column;
    }

    .blogs-flex-container {
        justify-content: center;
    }

    /* Margin the top of each blog when they turn to columns */
    .individual-blogs-container {
        margin-top: 10px;
    }

    .about-me-container,
    .skills-container,
    .individual-projects-container,
    .education-container,
    .experience-container,
    .individual-blogs-container {
        width: fit-content;
        /* Fits the content with the margins that are already specified */
    }


}
