:root {
    --top_spacing: 0.90vh;
    --general_spacing: 0.75vw;
    --dp_dark_orange: #ff7e5f;
    --dp_sand_orange: #feb47b;
    --dp_white: #FFFFFF;
    --dp_light_red: #C5023C;

    --earth_l_green:#cad2c5;
    --earth_m_green:#84a98c;
    --earth_d_green:#52796f;
    --earth_vd_green:#354f52;
}

body {
    /* background: linear-gradient(to bottom, var(--dp_dark_orange), var(--dp_sand_orange), var(--dp_light_red) 100%); */
    background: linear-gradient(to bottom, var(--earth_l_green), var(--earth_m_green) 60%, var(--earth_d_green), var(--earth_vd_green));
}

a {
    text-decoration: none;
    color: blue;
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

h3 {
    margin: var(--top_spacing);
    font-size: 20px;
}

p {
    text-align: center;
    padding: 0.75vw;
    /* margin-top: var(--top_spacing); */
}

nav {
    text-align: center;
}

button {
    background: var(--dp_dark_orange);
    border-radius: 8px;
    border-color: pink;
    font-weight: 400;
}

footer {
    margin-top: var(--top_spacing);
    /* space between the bottom footer and the last panal on the page */
    display: flex;
    justify-content: space-evenly;
}

/* Controls details about the nav menu at the top */
.top-menu {
    display: flex;
    justify-content: space-evenly;
}

.side-by-side-flex-container {
    width: 100%;
    display: flex;
    margin-top: 0.75vh;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.individual-flex-container {
    border: 2px solid black;
    margin: var(--general_spacing);
    /* Sets the width of the containers so they appear even */
    width: 50%; 
}

.about-me-title {
    text-align: center;
}

/* All text is centerted but only a couple pieces of text need to be left aligned */
.left-text-align {
    text-align: left;
}

/* I hate this and it doesnt work ever */
.image-with-side-text {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 150px;
}

/* Controls design of the github buttons at the bottom of each project panel */
.github-link {
    margin-bottom: var(--top_spacing);
    width: 75%;
}

/* Controls the color of Font Awesome icons */
.logo {
    color: red;
    background-color: white;
}

/* Main project container */
.project-container {
    text-align: center;
    height: 750px;
    border: 2px solid black;
    /* margin-top: var(--top_spacing); */
    margin: var(--general_spacing);
}

/* Controls details about the smaller panels inside the projects panel */
.individual-project-container {
    width: 35%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0.9vw;
    height: 85%;
}

/* Sets the size of the icons from Font Awesome */
#phone-icon,
#gitlab-icon,
#github-icon,
#linked-in-icon,
#email-icon {
    font-size: 64px;
}

#drumonitor-pic {
    margin-top: var(--top_spacing);
    width: 15vw;
}

/* Controls height of and experience section */
#education,
#experience {
    height: 400px;
}

/* Controls height of about-me and skills */
#about-me,
#skills {
    height: 650px;
}

/* Controls details about the blogs section */
#blogs {
    border: 2px solid black;
    margin-top: var(--top_spacing);
    height: 400px;

}

/* Picture of 'myself' in the about-me section */
#my-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--top_spacing);
    width: 30%;
    border: 2px solid orange;
}

/* Image used in the education section */
#svsu-image {
    width: 100px;
    margin: 0.75vw;
}

#openscad-projects {
    align-self: flex-start;
}

@media (max-width: 800px) {
    /* Once the window size becomes < 800px, set all sections to display column instead of row */
    .side-by-side-flex-container {
        flex-direction: column;
    }
    /* Set the width of each continer to be the entire length of the screen and set left and right margins to nothing */
    .individual-flex-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .individual-project-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        height: 500px;
    }

    .project-container {
        height: 1200px;
    }

    header {
        display: none;
    }
}
